.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #fff;
}

.description {
  text-align: center;
  padding: 42px;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 102px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag,
.location {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #c4ced8;
}

.stats > li {
  flex-basis: calc((100% - 40px) / 3);
  padding-top: 20px;
  padding-bottom: 20px;
}

.label {
  display: block;
  color: gray;
  font-size: 12px;
  margin-bottom: 5px;
}
.quantity {
  display: block;
  font-weight: 500;
}
